.token-list-block {
    display: flex;
    width: 100%;
    padding: 1.5em 1em;
    margin: 0.5em 0;
    border-radius: $border-radius-input;
    background: var(--color-alt-bg);

    .icon {
        width: 4em;
        margin-right: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
            display: inline-block;
            height: 2.85em;
        }
        
        .desc {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}