*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: $font-face-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  letter-spacing: 0.01em;
  line-height: $font-line-height-base;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@include scrollbars(8px, var(--color-dimmed), var(--color-contrast-border));

::selection {
  background-color: var(--color-alt-bg)!important;
  color: var(--color-text);
}