ul {
  list-style-type: none;
  padding: 0;
  margin: $space-micro 0;

  &.list {
    list-style-type: disc;
    padding-left: 1em;

    &.checked {
      list-style-type: none;

      & > li:before {
        content: '✓';
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        user-select: none;
      }
    }
  }

  &.striped > li:nth-child(2n+1) {
    background: var(--color-border-shadow);
  }
}

dl {
  display: block;
  margin: 0;
  line-height: 1.6;
  letter-spacing: -.03em;

  & > div {
    padding-top: $space-micro;
  }

  dt {
    color: var(--color-dimmed);
    font-weight: normal;
    display: inline;
  }

  dd {
    padding-left: .3em;
    margin-left: 0;
    font-weight: 400;
    display: inline;

    &:after {
      content: '';
      display: block;

    }

    &:last-child:after {
      content: none;
    }
  }
}