# Logs
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDEs
.idea

# Windows cache
*Thumbs.db

# Lock files
package-lock.json
pnpm-lock.yaml
