{
    "openapi": "3.1.0",
    "info": {
        "title": "StellarExpert API",
        "version": "1.5.0",
        "description": "## Intro\n\n[StellarExpert](https://stellar.expert/) Open APIs are publicly available for developers, free of charge.\nOpen API enpoints do not require authentication and can be used directly from the browser.\n\n### Cross-Origin Resource Sharing\n\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with W3C spec. And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n\n### Rate Limiting and Caching Considerations\n\nThe effective API request rate may be a subject to rate limiting. In such cases the server returns 429 HTTP status code error. To avoid potential problems caused by those limitations it is advised to consider response caching or group queries on the caller side in case of heavy API utilization.",
        "termsOfService": "https://stellar.expert/",
        "contact": {
            "url": "https://stellar.expert/",
            "email": "info@stellar.expert"
        },
        "license": {
            "name": "MIT",
            "url": "https://tldrlegal.com/license/mit-license"
        },
        "x-logo": {
            "url": "https://stellar.expert/img/stellar-expert-blue.svg"
        }
    },
    "servers": [
        {
            "url": "https://api.stellar.expert"
        }
    ],
    "paths": {
        "/explorer/{network}/account/{account}": {
            "get": {
                "operationId": "queryAccountStats",
                "summary": "Retrieve account info",
                "description": "Fetch account information",
                "cost": 10,
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account information loaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AccountInfo"
                                    }
                                },
                                "example": [
                                    {
                                        "account": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                                        "creator": "GBU4DDQXESGMBUDOLKZJJ56TYKAW5JYU3IG5NS7TBOYI34ZIHM5CXDMF",
                                        "activity": {
                                            "monthly": "very high",
                                            "yearly": "very high"
                                        },
                                        "assets": [
                                            "XLM",
                                            "RLUSD-GCC5UHLP734WF2YH55T46WIQX76QN45SAB4SXS7EA76LJL2CWK7RLUSD-2",
                                            "FOBOS-GAMP3CO26RFCHLPLFL7MSJKP2KXW3DDD4V4WXIZXFL3TM4RGO64IT5CV-2"
                                        ],
                                        "payments": 44715,
                                        "trades": 1721,
                                        "created": 1710889335
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/account/{account}/stats-history": {
            "get": {
                "operationId": "queryAccountStatsHistory",
                "summary": "Retrieve statistics history",
                "description": "Fetch account statistics history",
                "cost": 10,
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account statistics history loaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "payments": {
                                                "type": "number"
                                            },
                                            "trades": {
                                                "type": "number"
                                            },
                                            "ts": {
                                                "$ref": "#/components/schemas/Timestamp"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "payments": 21,
                                        "trades": 2,
                                        "ts": 1711670400
                                    },
                                    {
                                        "payments": 23,
                                        "trades": 0,
                                        "ts": 1711756800
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/account/{account}/history/trades": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Account trades history",
                "operationId": "queryAccountTrades",
                "description": "Returns the trades history for a given account",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    },
                    {
                        "name": "order",
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "name": "limit",
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "cursor",
                        "$ref": "#/components/parameters/cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trades history fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AccountTrade"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=desc&limit=2"
                                        },
                                        "prev": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=asc&limit=2&cursor=7489424762284802074"
                                        },
                                        "next": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=desc&limit=2&cursor=7489418629071503453"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "bought_amount": 48888888839027,
                                                "bought_asset": "YUAN-GBLLOQ2J7HUZAXLFRF4E57D43KBBDY667L27YVQQP2XEJWFM3UVRV5YF-1",
                                                "buyer": "GD6HB37PBWRPMXWMM4ROJAOYHADELGWDQHB6KV7GYPPP5RB7IU7DFCMB",
                                                "id": 7489424762284802000,
                                                "offer": 1709701770,
                                                "operation": 242501812106801150,
                                                "price": 223215.01338136618,
                                                "seller": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                                                "sold_amount": 219021508,
                                                "sold_asset": "XLM",
                                                "ts": 1743767588,
                                                "paging_token": 7489424762284802000
                                            },
                                            {
                                                "bought_amount": 373,
                                                "bought_asset": "TREAD-GANMKTF7SVYEHZ4CTLRKT2MG2OUJNDEA3JGZGTUTHQZOZSWJHHUF6VLM-2",
                                                "buyer": "GCU7LJ5S6U3YCTSLLZNMRHJBSXVI6O5WPQIJ2ESLYTYIUJ7WMSXNYERD",
                                                "id": 7489418629071503000,
                                                "offer": 1705852714,
                                                "operation": 242500746955546620,
                                                "price": 0.05547293277810827,
                                                "seller": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                                                "sold_amount": 6724,
                                                "sold_asset": "XLM",
                                                "ts": 1743766160,
                                                "paging_token": 7489418629071503000
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Parameter 'account' is required.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/account/{account}/balance/{asset}/history": {
            "get": {
                "operationId": "queryAccountBalanceHistory",
                "summary": "Retrieve account balance history",
                "description": "Fetch balance history of a given token for account address",
                "cost": 10,
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset balance history loaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "type": "number"
                                        }
                                    }
                                },
                                "example": [
                                    [
                                        1743724800,
                                        "78874669664"
                                    ],
                                    [
                                        1743638400,
                                        "81982434906"
                                    ],
                                    [
                                        1743552000,
                                        "75525167674"
                                    ]
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/account/{account}/claimable-balances": {
            "get": {
                "operationId": "queryAccountClaimableBalances",
                "summary": "Retrieve account claimable balance",
                "description": "Fetch claimable balance of all tokens that have been transferred to the account address",
                "cost": 10,
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    },
                    {
                        "name": "order",
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "name": "limit",
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "cursor",
                        "$ref": "#/components/parameters/cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account claimable balance fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AccountClaimableBalance"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=desc&limit=2"
                                        },
                                        "prev": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=asc&limit=2&cursor=7489170213444885654"
                                        },
                                        "next": {
                                            "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=desc&limit=2&cursor=7488495007869549959"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "amount": 80000000,
                                                "asset": "BGI-GA4FVJQFHQV5PAYYEYXML7G5JFWAA6TOQS5FH7ADS4Q2QEHKEEA3PCKX-1",
                                                "claimants": [
                                                    {
                                                        "destination": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                                                        "predicate": {
                                                            "unconditional": true
                                                        }
                                                    }
                                                ],
                                                "id": "OtGclgYIx8cgq9LlSE8NxeYZBnVMK1D/KOoOhp/bhf0=",
                                                "sponsor": "GBEC3N4Q4BHLN32HLVLFX3CVKIFDKGDJWR3HAFA7TKG36WXP3HVD5BGI",
                                                "value": 341,
                                                "created": 1743708321,
                                                "paging_token": 7489170213444886000
                                            },
                                            {
                                                "amount": 783100,
                                                "asset": "XRPBTC-GB2UFQH3HTB7TDRSF6BBO7JZ732F27WMBXDVPM73CCCDNCSB5SO7RIPL-2",
                                                "claimants": [
                                                    {
                                                        "destination": "GAER53BMAJXS5PSVS4SUWDJ3TRNJ7COUXRYB72HAZQRNRAJK7SXYHHVH",
                                                        "predicate": {
                                                            "unconditional": true
                                                        }
                                                    }
                                                ],
                                                "id": "rlm9hwi7vrLhjxJjOKH4hdU8TwYaWfR7rBmr8Je2nJY=",
                                                "sponsor": "GAER53BMAJXS5PSVS4SUWDJ3TRNJ7COUXRYB72HAZQRNRAJK7SXYHHVH",
                                                "created": 1743551112,
                                                "paging_token": 7488495007869550000
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/account/{account}/value": {
            "get": {
                "operationId": "estimateContractValue",
                "summary": "Retrieve account value",
                "description": "Fetch account value",
                "cost": 10,
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account value loaded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "account": {
                                            "$ref": "#/components/schemas/AccountAddress"
                                        },
                                        "currency": {
                                            "type": "string"
                                        },
                                        "pool_stakes": {
                                            "type": "array"
                                        },
                                        "total": {
                                            "type": "string"
                                        },
                                        "trustlines": {
                                            "description": "Trustlines established to a contract",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TrustlinesValue"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "account": "GAB6FD5BCBVVQINU5USYV5K4JDAEO6RDL2GZU4K5BILPI6B4FIOF6QWW",
                                    "currency": "USD",
                                    "pool_stakes": [],
                                    "total": "26850644",
                                    "trustlines": [
                                        {
                                            "asset": "XLM",
                                            "balance": "93402431",
                                            "value": 26850644,
                                            "flags": 1
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Account G.. was not found on the network",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "List of assets",
                "operationId": "getAllAssets",
                "description": "Returns a list of assets that exist on Stellar network. It support searching by asset code, issuer, home domain, and metadata from associated `stellar.toml` file.\n\nPossible sorting options:\n- `rating` - composite asset rating derived from on-chain stats\n- `created` - asset age\n- `payments` - total number of payments\n- `trades` - total number of trades\n- `trustlines` - number of established trustlines\n- `volume` - overall trading volume\n- `volume7d` - weekly trading volume",
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "search",
                        "$ref": "#/components/parameters/search",
                        "minLength": 0,
                        "required": false,
                        "example": "dollar"
                    },
                    {
                        "name": "sort",
                        "description": "Results sorting parameter",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rating",
                                "created",
                                "payments",
                                "trades",
                                "trustlines",
                                "volume",
                                "volume7d"
                            ],
                            "default": "rating"
                        },
                        "required": false
                    },
                    {
                        "name": "order",
                        "description": "Results sorting order",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/ResultsSortOrder"
                        }
                    },
                    {
                        "name": "limit",
                        "description": "Results data page size",
                        "in": "query",
                        "maximum": 50,
                        "schema": {
                            "$ref": "#/components/schemas/ResultsLimit"
                        }
                    },
                    {
                        "name": "cursor",
                        "description": "A position from which to continue search (refers to the `paging_token` value from a results set)",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset list fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AssetInfo"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/asset?order=desc&limit=2"
                                        },
                                        "prev": {
                                            "href": "/explorer/public/asset?order=asc&limit=2&cursor=1"
                                        },
                                        "next": {
                                            "href": "/explorer/public/asset?order=desc&limit=2&cursor=2"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "asset": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                                                "traded_amount": 102588436626011460,
                                                "payments_amount": 12492248403205108,
                                                "created": 1615892870,
                                                "supply": 1669015135707318,
                                                "trustlines": {
                                                    "total": 32266,
                                                    "authorized": 32266,
                                                    "funded": 19335
                                                },
                                                "trades": 13363178,
                                                "payments": 13405766,
                                                "domain": "ultrastellar.com",
                                                "tomlInfo": {
                                                    "orgName": "Ultra Stellar LLC dba Ultra Stellar",
                                                    "orgLogo": "https://ultrastellar.com/static/images/org_logo.png",
                                                    "image": "https://ultrastellar.com/static/images/icons/yXLM.png",
                                                    "status": "live",
                                                    "anchorAssetType": "crypto",
                                                    "anchorAsset": "XLM"
                                                },
                                                "rating": {
                                                    "age": 7,
                                                    "trades": 10,
                                                    "payments": 9,
                                                    "trustlines": 7,
                                                    "volume7d": 10,
                                                    "interop": 10,
                                                    "liquidity": 10,
                                                    "average": 9
                                                },
                                                "paging_token": 1
                                            },
                                            {
                                                "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "traded_amount": 18134208266562304,
                                                "payments_amount": 24664489154530540,
                                                "created": 1611089770,
                                                "supply": 1800404216565311,
                                                "trustlines": {
                                                    "total": 138801,
                                                    "authorized": 138801,
                                                    "funded": 27503
                                                },
                                                "trades": 20324688,
                                                "payments": 2862354,
                                                "domain": "centre.io",
                                                "tomlInfo": {
                                                    "orgName": "Centre Consortium LLC dba Centre Consortium",
                                                    "orgLogo": "https://www.centre.io/images/logo-icon.png",
                                                    "name": "USD Coin",
                                                    "image": "https://www.centre.io/images/usdc/usdc-icon-86074d9d49.png",
                                                    "anchorAssetType": "fiat",
                                                    "anchorAsset": "USD"
                                                },
                                                "rating": {
                                                    "age": 7,
                                                    "trades": 10,
                                                    "payments": 8,
                                                    "trustlines": 8,
                                                    "volume7d": 10,
                                                    "interop": 4,
                                                    "liquidity": 10,
                                                    "average": 8.1
                                                },
                                                "paging_token": 2
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset-stats/overall": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Assets overall statistics",
                "operationId": "queryAssetsOverallStats",
                "description": "Returns overall statistics for all assets",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assets overall statistics fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "payments": {
                                            "description": "Number of payments",
                                            "type": "string",
                                            "example": "2861423432"
                                        },
                                        "total_assets": {
                                            "description": "Total amount of existing assets",
                                            "type": "number",
                                            "example": 188547
                                        },
                                        "trades": {
                                            "description": "Number of trades",
                                            "type": "string",
                                            "example": "4767944173"
                                        },
                                        "volume": {
                                            "description": "Total value",
                                            "type": "number",
                                            "example": 280466938707819740
                                        }
                                    }
                                },
                                "example": {
                                    "total_assets": 204459,
                                    "payments": "3136626722",
                                    "trades": "4910333733",
                                    "volume": 297254233186919900
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/meta": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Assets metadata",
                "operationId": "queryAssetsMeta",
                "description": "Returns overall statistics for all assets",
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset-array",
                        "$ref": "#/components/parameters/asset-array"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assets meta fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AssetMeta"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/meta?asset[]=yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1asset[]=USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1&sort=name&order=asc"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "asset": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                                                "domain": "ultrastellar.com",
                                                "name": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                                                "toml_info": {
                                                    "orgName": "Ultra Stellar LLC dba Ultra Stellar",
                                                    "orgLogo": "https://ultrastellar.com/static/images/org_logo.png",
                                                    "image": "https://ultrastellar.com/static/images/icons/yXLM.png",
                                                    "issuer": "GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55",
                                                    "status": "live",
                                                    "anchorAssetType": "crypto",
                                                    "anchorAsset": "XLM"
                                                }
                                            },
                                            {
                                                "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "domain": "centre.io",
                                                "name": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "toml_info": {
                                                    "orgName": "Centre Consortium LLC dba Centre Consortium",
                                                    "orgLogo": "https://www.centre.io/images/logo-icon.png",
                                                    "name": "USD Coin",
                                                    "image": "https://www.centre.io/images/usdc/usdc-icon-86074d9d49.png",
                                                    "anchorAssetType": "fiat",
                                                    "anchorAsset": "USD"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter asset'. Expected an array of assets to fetch.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid asset name.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/price": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset prices",
                "operationId": "queryAssetPrices",
                "description": "Returns prices for all assets",
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset-array",
                        "$ref": "#/components/parameters/asset-array"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset prices fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "asset": {
                                                                        "$ref": "#/components/schemas/Asset"
                                                                    },
                                                                    "price": {
                                                                        "type": "number"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/asset/price?asset[]=USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1&asset[]=XLM&sort=asset&order=asc"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "price": 1.000009797257811
                                            },
                                            {
                                                "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "price": 0.2714538160422819
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Array of asset identifiers expected.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Expected format: {code}-{issuer}.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset statistics",
                "operationId": "queryAssetStats",
                "description": "Returns statistics for a given asset",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset statistics fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetStat"
                                },
                                "example": {
                                    "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                    "contract": "CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75",
                                    "created": 1611089770,
                                    "home_domain": "centre.io",
                                    "payments": 43983900,
                                    "payments_amount": 195296303987316320,
                                    "price": 1.0000698419073348,
                                    "price7d": [
                                        [
                                            1742774400,
                                            0.9999556923344947
                                        ],
                                        [
                                            1742860800,
                                            1.0000723416666668
                                        ],
                                        [
                                            1742947200,
                                            1.0000137059027778
                                        ],
                                        [
                                            1743033600,
                                            1.0000945631944445
                                        ],
                                        [
                                            1743120000,
                                            1.0000377180555555
                                        ],
                                        [
                                            1743206400,
                                            1.0001392319444444
                                        ],
                                        [
                                            1743292800,
                                            1.000077707986111
                                        ],
                                        [
                                            1743379200,
                                            1.0000432092105263
                                        ]
                                    ],
                                    "rating": {
                                        "age": 7,
                                        "trades": 10,
                                        "payments": 8,
                                        "trustlines": 8,
                                        "volume7d": 10,
                                        "interop": 4,
                                        "liquidity": 10,
                                        "average": 8.1
                                    },
                                    "supply": 2761733155982229,
                                    "tomlInfo": {
                                        "orgName": "Centre Consortium LLC dba Centre Consortium",
                                        "orgLogo": "https://www.centre.io/images/logo-icon.png",
                                        "name": "USD Coin",
                                        "image": "https://www.centre.io/images/usdc/usdc-icon-86074d9d49.png",
                                        "anchorAssetType": "fiat",
                                        "anchorAsset": "USD"
                                    },
                                    "traded_amount": 56098854530614620,
                                    "trades": 93308432,
                                    "trustlines": {
                                        "authorized": 1367864,
                                        "funded": 442934,
                                        "total": 1367864
                                    },
                                    "volume": 56105420522194456,
                                    "volume7d": 571077112903427
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Expected format: {code}-{issuer}.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Asset statistics were not found on the ledger. Check if you specified the asset correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/stats-history": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset statistics history",
                "operationId": "queryAssetStatsHistory",
                "description": "Returns the statistics history for a given asset",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset statistics history fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "payments": {
                                                "description": "Total number of payments",
                                                "type": "number"
                                            },
                                            "payments_amount": {
                                                "description": "Total payments amount (in stroops)",
                                                "type": "number"
                                            },
                                            "supply": {
                                                "description": "Total issued asset supply",
                                                "type": "number"
                                            },
                                            "trustlines": {
                                                "description": "Trustlines established to an asset",
                                                "type": "array",
                                                "items": {
                                                    "type": "number"
                                                }
                                            },
                                            "ts": {
                                                "description": "Validation timestamp",
                                                "$ref": "#/components/schemas/Timestamp"
                                            },
                                            "volume": {
                                                "description": "Total issued asset supply",
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "payments": 338,
                                        "payments_amount": 99397552406419,
                                        "supply": 30968802900000,
                                        "trustlines": [
                                            335,
                                            335,
                                            116
                                        ],
                                        "ts": 1612224000,
                                        "volume": 0
                                    },
                                    {
                                        "payments": 287,
                                        "payments_amount": 361224119948188,
                                        "supply": 55939683900000,
                                        "trustlines": [
                                            447,
                                            447,
                                            156
                                        ],
                                        "ts": 1612310400,
                                        "volume": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Asset statistics were not found on the ledger. Check if you specified the asset correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/rating": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset rating",
                "operationId": "getAssetRating",
                "description": "To solve the problem of assets ranking on StellarExpert, we designed a system of technical indicators based purely on the ledger activity, including\n\n  - asset age (time elapsed sisnce the first payment)\n  - established trustlines\n  - total number of payments\n  - total number of trades\n  - weekly trading volume\n  - market liquidity (based on the relative slippage of {ASSET}/XLM market)\n  - asset interoperability (based on additional asset metadata and supported SEP standards)\n\nAll indicators are calculated on the logarithmic scale to normalize distribution for assets with high trading/transfer activity. The compound rating calculated as the average of all seven indicators can be used to roughly estimate the popularity of any Stellar asset purely from the technical point of view.",
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset rating fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetRating"
                                },
                                "example": {
                                    "asset": "ABC-GAKP6AHQM4JDI55SK2FGEPLOZU7BTEODS3Y5QNT3VMQQIU3WM99T0L4C-1",
                                    "rating": {
                                        "age": 9,
                                        "trades": 6,
                                        "payments": 10,
                                        "trustlines": 10,
                                        "volume7d": 10,
                                        "interop": 3,
                                        "liquidty": 8,
                                        "average": 8
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Asset wasn't found. Check if you specified the asset correctly.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/history/trades": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset trades history",
                "operationId": "queryAssetTrades",
                "description": "Returns the trades history for a given asset",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    },
                    {
                        "name": "order",
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "name": "limit",
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "cursor",
                        "$ref": "#/components/parameters/cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trades history fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AssetTrade"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/asset/USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1/history/trades?skip=0&order=desc&limit=2"
                                        },
                                        "prev": {
                                            "href": "/explorer/public/asset/USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1/history/trades?skip=0&order=asc&limit=2&cursor=7488055320552407068"
                                        },
                                        "next": {
                                            "href": "/explorer/public/asset/USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1/history/trades?skip=0&order=desc&limit=2&cursor=7488055320552407067"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "bought_amount": 99969,
                                                "bought_asset": "USTRY-GCRYUGD5NVARGXT56XEZI5CIFCQETYHAPQQTHO2O3IQZTHDH4LATMYWC-2",
                                                "buyer": "GB37DH4CM64RFUJ4LVNGTECDITMYELOBFUW7CR36644JZMFYZA3UBHQW",
                                                "id": 7488055320552407000,
                                                "offer": 1710096411,
                                                "operation": 242262801471918080,
                                                "price": 1.0258491534120062,
                                                "seller": "GBMMYPWILFTPY5GCZ5Z63DP6Q72SUKB46E3VORXUDN2WI267O43LKF6O",
                                                "sold_amount": 97450,
                                                "sold_asset": "USTRY-GCRYUGD5NVARGXT56XEZI5CIFCQETYHAPQQTHO2O3IQZTHDH4LATMYWC-2",
                                                "ts": 1743448740,
                                                "paging_token": 7488055320552407000
                                            },
                                            {
                                                "bought_amount": 97450,
                                                "bought_asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "buyer": "GB37DH4CM64RFUJ4LVNGTECDITMYELOBFUW7CR36644JZMFYZA3UBHQW",
                                                "id": 7488055320552407000,
                                                "offer": 1715374099,
                                                "operation": 242262801471918080,
                                                "price": 0.9745,
                                                "seller": "GDJSH2NU2WF6J4P5DL4522DUCABWSTZOKFQ7BHBCFYQ3QKC6FRYWP6OL",
                                                "sold_amount": 100000,
                                                "sold_asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                                                "ts": 1743448740,
                                                "paging_token": 7488055320552407000
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Parameter 'asset' is required.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/holders": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset holders list",
                "operationId": "getAssetHolders",
                "description": "Returns a list of all accounts holding non-zero amount of the given asset sorted by the balance size. Accounts with an established trustline but with zero balance excluded from the results set.\nThis API endpoint follows Stellar Horizon API response format convention. A response result contains records and navigation links.",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    },
                    {
                        "name": "order",
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "name": "limit",
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "cursor",
                        "$ref": "#/components/parameters/cursor"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset holders fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ListApiResponse"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "_embedded": {
                                                    "type": "object",
                                                    "properties": {
                                                        "records": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/components/schemas/AssetHolder"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "_links": {
                                        "self": {
                                            "href": "/explorer/public/asset/EURT-GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S/holders?order=desc&limit=2"
                                        },
                                        "prev": {
                                            "href": "/explorer/public/asset/EURT-GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S/holders?order=asc&limit=2&cursor=AAAFOSpHRlQAeBsb"
                                        },
                                        "next": {
                                            "href": "/explorer/public/asset/EURT-GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S/holders?order=desc&limit=2&cursor=AAACXn0v0QUAsZIb"
                                        }
                                    },
                                    "_embedded": {
                                        "records": [
                                            {
                                                "account": "GCWGHBQLVZ6QXV7OLHBCFHNPWOCSWGRZ7DTW44BN4IQ7QYVRX3JYPJ7E",
                                                "balance": "5965453988886",
                                                "paging_token": "AAAFOSpHRlQAeBsb"
                                            },
                                            {
                                                "account": "GAFBGZANI7JRXABPEERQGBTFS3AG67M4ZQTMT2VIMWZ6BY4K64QK3D3U",
                                                "balance": "2604850467077",
                                                "paging_token": "AAACXn0v0QUAsZIb"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/distribution": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset distribution statistics",
                "operationId": "queryAssetDistribution",
                "description": "Returns the number of accounts that own a given asset within a specified range",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset distribution fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "range": {
                                                "type": "string"
                                            },
                                            "holders": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "range": "<0.001",
                                        "holders": 54546
                                    },
                                    {
                                        "range": "0.001-0.1",
                                        "holders": 90489
                                    },
                                    {
                                        "range": "0.1-10",
                                        "holders": 211076
                                    },
                                    {
                                        "range": "10-1K",
                                        "holders": 79041
                                    },
                                    {
                                        "range": "1K-100K",
                                        "holders": 7704
                                    },
                                    {
                                        "range": "100K-10M",
                                        "holders": 90
                                    },
                                    {
                                        "range": "10M-1B",
                                        "holders": 2
                                    },
                                    {
                                        "range": "1B-100B",
                                        "holders": 0
                                    },
                                    {
                                        "range": ">100B",
                                        "holders": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found.",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/position/{account}": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset holder rank",
                "operationId": "getAssetHolderPosition",
                "description": "Retrieves a relative account balance position among all accounts holding a particular asset.",
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    },
                    {
                        "name": "account",
                        "$ref": "#/components/parameters/account"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset holder rank info fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "account": {
                                            "$ref": "#/components/schemas/AccountAddress",
                                            "description": "Account address to check"
                                        },
                                        "asset": {
                                            "$ref": "#/components/schemas/Asset",
                                            "description": "Asset used for rating calculation"
                                        },
                                        "balance": {
                                            "type": "string",
                                            "description": "Asset balance owned by the account"
                                        },
                                        "position": {
                                            "type": "integer",
                                            "description": "Position among all accounts holding a particular asset"
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total number of accounts with non-zero balance"
                                        }
                                    }
                                },
                                "example": {
                                    "account": "GDKIJJIKXLOM2NRMPNQZUUYK24ZPVFC6426GZAEP3KUK6KEJLACCWNMX",
                                    "asset": "XLM",
                                    "balance": "39065991792893022",
                                    "position": 3,
                                    "total": 7159959
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'account'. Invalid account public key.",
                                    "status": 400
                                },{
                                    "error": "Bad request. Invalid parameter: 'asset'. Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                                    "status": 400
                                }]
                            }
                        }
                    },
                    "404": {
                        "description": "Trustline not found",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Not found. Trustline for account to asset not found",
                                    "status": 404
                                }]
                            }
                        }
                    }
                }
            }
        },
        "/explorer/{network}/asset/{asset}/trading-pairs": {
            "get": {
                "tags": [
                    "Asset Info API"
                ],
                "summary": "Asset trading pairs",
                "operationId": "queryAssetTradingPairs",
                "description": "Returns TOP10 trading pairs for a given asset",
                "cost": 10,
                "parameters": [
                    {
                        "name": "network",
                        "$ref": "#/components/parameters/network"
                    },
                    {
                        "name": "asset",
                        "$ref": "#/components/parameters/asset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Asset trading pairs fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Asset"
                                    }
                                },
                                "example": [
                                    "USDCAllow-GDIEKKIQWMIZ4LD3RP3ABPN7X5KEAEWYMR634BRHB7EULIMEVREWLF3G-2",
                                    "XLM",
                                    "USDx-GAVH5ZWACAY2PHPUG4FL3LHHJIYIHOFPSIUGM2KHK25CJWXHAV6QKDMN-1",
                                    "EURC-GDHU6WRG4IEQXM5NZ4BMPKOXHW76MZM4Y2IEMFDVXBSDP6SJY4ITNPP2-1",
                                    "BTC-GDPJALI4AZKUU2W426U5WKMAT6CN3AJRPIIRYR2YM54TL2GDWO5O2MZM-1",
                                    "yUSDC-GDGTVWSM4MGS4T7Z6W4RPWOCHE2I6RDFCIFZGS3DOA63LWQTRNZNTTFF-2",
                                    "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                                    "SHX-GDSTRSHXHGJ7ZIVRBXEYE5Q74XUVCUSEKEBR7UCHEUUEK72N7I7KJ6JH-1",
                                    "AQUA-GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA-1",
                                    "VELO-GDM4RQUQQUVSKQA7S6EM7XBZP3FCGH4Q7CL6TABQ7B2BEJ5ERARM2M5M-1"
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "example": [{
                                    "error": "Bad request. Invalid parameter: 'network'. Unknown network name.",
[...]
