.dd-wrapper {
  display: inline-block;
  position: relative;
  //reset styles
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $font-line-height-base;
  padding-right: 0.3em;

  .dd-toggle {
    $toggle-size: 0.4em;
    display: inline-block;
    width: $toggle-size;
    height: $toggle-size;
    border: 1px solid currentColor;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotateZ(135deg) translate($toggle-size*0.4, -$toggle-size*0.4);
    transform-origin: top right;
    transition: transform 0.2s;

    &.visible {
      transform: rotateZ(135deg) scale(-1) translate($toggle-size*0.2, -$toggle-size*0.2);
    }
  }

  .dd-header {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;

    &.button {
      color: var(--color-bg);
    }
  }

  .button .dd-toggle {
    margin-left: 0.2em;
  }

  .dd-list {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    text-align: left;
    color: var(--color-primary);
    top: calc(100% - 0.4em);
    min-width: 100%;
    background: var(--color-bg);
    border: 1px solid var(--color-contrast-border);
    border-radius: $border-radius-input;
    box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, .3);
    text-transform: none;

    &.visible {
      visibility: visible;
    }
  }

  &:hover {
    a {
      color: var(--color-highlight);
    }
  }

  &.disabled {
    .dd-toggle {
      border-top-color: var(--color-contrast-border);
      border-right-color: var(--color-contrast-border);
    }

    .dd-list {
      color: var(--color-contrast-border);
    }
  }

  .dd-list-item {
    cursor: pointer;
    padding: 0;
    margin: 0;

    a {
      padding: .4em 0.7em;
      display: block;
      color: inherit;
      white-space: nowrap;

      &:hover {
        background: var(--color-alt-bg)
      }

      &.selected {
        cursor: default;
        color: var(--color-text);
        background: var(--color-alt-bg);
      }
    }
  }
}