.logged-in-account {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 2em;
  height: 2em;
  padding-top: 0.33em;
  text-align: center;
  background: var(--color-bg);

  .dd-wrapper {
    padding-right: 0;
  }
}