.appear {
  animation-name: appear;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes appear {
  from {
    opacity: 0;
    background: var(--color-alt-bg);
  }

  to {
    opacity: 1;
    background: transparent;
  }
}

.spin {
  animation: spin 2s infinite linear;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}