{
  "openapi": "3.1.0",
  "info": {
    "title": "Ledger API",
    "version": "0.2.0",
    "termsOfService": "https://stellar.expert/info/tos",
    "contact": {
      "url": "https://stellar.expert/",
      "email": "info@stellar.expert"
    }
  },
  "servers": [
    {
      "url": "https://api.stellar.expert"
    }
  ],
  "tags": [
    {
      "name": "Ledger Info API",
      "x-displayName": "Ledger Info API"
    },
    {
      "name": "Tx API",
      "x-displayName": "Tx API"
    },
    {
      "name": "Accounts",
      "x-displayName": "Accounts"
    },
    {
      "name": "Asset Info API",
      "x-displayName": "Asset Info API"
    },
    {
      "name": "Asset list",
      "x-displayName": "Asset list"
    },
    {
      "name": "Contracts",
      "x-displayName": "Contracts"
    },
    {
      "name": "Contract data API",
      "x-displayName": "Contract data API"
    },
    {
      "name": "Directory Info API",
      "x-displayName": "Directory Info API"
    },
    {
      "name": "Domain meta API",
      "x-displayName": "Domain meta API"
    },
    {
      "name": "Liquidity Pool API",
      "x-displayName": "Liquidity Pool API"
    },
    {
      "name": "Market Info API",
      "x-displayName": "Market Info API"
    },
    {
      "name": "Offer Info API",
      "x-displayName": "Offer Info API"
    },
    {
      "name": "Price API",
      "x-displayName": "Price API"
    }
  ],
  "paths": {
    "/explorer/{network}/ledger/sequence-from-timestamp": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Find sequence by timestamp",
        "operationId": "querySequenceFromTs",
        "description": "Resolves ledger sequence with a finalization time equal or less than a given timestamp. If the timestamp indicates some time in the future or, vise versa, less than the closing time of the first ledger, server returns 400 Bad request error.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "timestamp",
            "description": "Timestamp to search (UNIX time or RFC 3339 timestamp)",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "integer",
                  "minimum": 0
                }
              ]
            },
            "example": "1642597270, 2022-08-29T13:51:18.000Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger sequence resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerTimestampSequenceInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"timestamp\".",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Cannot resolve ledgers from the timestamp in the future.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/timestamp-from-sequence": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Find timestamp by sequence",
        "operationId": "queryTsFromSequence",
        "description": "Resolves ledger closing timestamp for a given ledger sequence.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "sequence",
            "$ref": "#/components/parameters/sequence"
          }
        ],
        "responses": {
          "200": {
            "description": "Timestamp resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerTimestampSequenceInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"sequence\".",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/ledger-stats": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Fetch ledger statistics",
        "operationId": "queryLedgerStats",
        "description": "Returns list of ledger statistics history. Provides detailed information about  the ledger at a specific point in time, such as: numbers of operations, trades  and payments, amount transactions (failed and finalized), pool fee, new added  assets to Stellar, DEX value, total number of acounts and trustlines, quantity  existing and inactive lumens, average ledger time.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "List of ledger statistics fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SequenceLedgerStats"
                  }
                },
                "example": [
                  {
                    "accounts": 4,
                    "avg_ledger_time": 5.9,
                    "active_accounts": 4,
                    "fee_pool": 72763028090,
                    "ledgers": 14546,
                    "operations": 22,
                    "payments": 6,
                    "reserve": 1000572159360471600,
                    "total_xlm": 1000572199360479000,
                    "trades": 0,
                    "trustlines": 4,
                    "funded_trustlines": 4,
                    "volume": 0,
                    "new_assets": 0,
                    "transactions": 13,
                    "failed_transactions": 1,
                    "finalized": true,
                    "ts": 1443657600
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/ledger-stats/24h": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Fetch daily ledger stats",
        "operationId": "query24HLedgerStats",
        "description": "Returns of ledger statistics for the last 24 hours. Provides detailed information  about the ledger at a specific point in time, such as: numbers of operations,  trades and payments, amount transactions (failed and finalized), pool fee,  new added assets to Stellar, DEX value, total number of acounts and trustlines,  quantity existing and inactive lumens, average ledger time.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger statistics fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/24HLedgerStats"
                },
                "example": {
                  "accounts": 10201667,
                  "avg_ledger_time": 5.9,
                  "active_accounts": 67847,
                  "fee_pool": 92087798422105,
                  "ledgers": 8747,
                  "operations": 3115267,
                  "payments": 2701602,
                  "reserve": 730112904259672000,
                  "total_xlm": 1054439020873472900,
                  "trades": 124248,
                  "trustlines": 40619608,
                  "funded_trustlines": 32198710,
                  "volume": 101388703900788.84,
                  "new_assets": 109,
                  "failed_transactions": 2577619,
                  "successful_transactions": 1640912
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/protocol-history": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Protocol upgrades history",
        "operationId": "queryProtocolHistory",
        "description": "Returns list of protocol upgrades. Provides a history of configuration changes  designed to add features, improve performance, and extend network capabilities.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "List of protocol upgrades fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProtocolHistory"
                  }
                },
                "example": [
                  {
                    "sequence": 55823848,
                    "version": 22,
                    "ts": 1740070807,
                    "max_tx_set_size": 1000,
                    "base_fee": 100,
                    "base_reserve": 5000000,
                    "config_changes": {
                      "contractLedgerCost": {
                        "ledgerMaxReadLedgerEntries": 500,
                        "ledgerMaxReadBytes": 3500000,
                        "ledgerMaxWriteLedgerEntries": 250,
                        "ledgerMaxWriteBytes": 143360,
                        "txMaxReadLedgerEntries": 100,
                        "txMaxReadBytes": 200000,
                        "txMaxWriteLedgerEntries": 50,
                        "txMaxWriteBytes": 132096,
                        "feeReadLedgerEntry": 6250,
                        "feeWriteLedgerEntry": 10000,
                        "feeRead1Kb": 1786,
                        "bucketListTargetSizeBytes": 14500000000,
                        "writeFee1KbBucketListLow": 8510,
                        "writeFee1KbBucketListHigh": 12116,
                        "bucketListWriteFeeGrowthFactor": 5000
                      }
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/stream": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Listen ledgers stream",
        "operationId": "waitForLedger",
        "description": "Starts ledger stream using long pooling. Server waits for new ledgers. Once a new ledger is processed by the ingestion pipeline this endpoint returns the most recent ledger sequence.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "Last ledger sequence",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ledger": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "ledger": 56309876
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/last": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Fetch last ledger sequence",
        "operationId": "fetchLastLedger",
        "description": "Returns the last ledger processed by the network. Provides current information about  the ledger, such as: current sequence and protocol version, total number  of successful/failed transactions and operations, number of lumens and fee pool,  bids and charged fee info.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "Last ledger information loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerMoreInfo"
                },
                "example": {
                  "sequence": 60958751,
                  "ts": 1769505236,
                  "protocol": 25,
                  "xlm": "1054439020873472865",
                  "fee_pool": "92187263371435",
                  "successful_transactions": 204,
                  "failed_transactions": 298,
                  "successful_operations": 462,
                  "failed_operations": 510,
                  "xdr": "AAAAGcwT8z3hoMyhzJdi4lLB1ZF6030TTObqxGUPea6iHao5eVlWZiZt43oHH3f2SszCwMaWJoVJ5ZPGkwsVQwUFNIAAAAAAaXiB1AAAAAAAAAABAAAAADF88fn7/Qdf5AnejN22xxQnBxZIgcsq0VC/dFJbol8/AAAAQK+YvVhV6BVuPWcgTjAH3o7OwnseGiY0MzgCIGV+rxRdKCG3NklU4eMhFbwFwTeZrLSQhqqJjf1EobZ0wODPPAlej+tFC7gTm17oYWvsdTAUeUaK5IRiH0FZ5wgJIAu+iT8kGZMPJcLBxoCHz39Zuge+2F4yfn2HF5+zgAVobri+A6IoHw6iHrPseVthAABT2AUWCKsAAAEWAAAAAGyH058AAABkAExLQAAAA+ifNxBv5EIKUOl2BK3wfTd5+1Zhf0b3JXqbSHn66DtrXLUCVzmrUBqRuDlUt+45AoFGViKmWG2MfntrnkckyzVXZYheIS09KsdGBAEsARoyu5/IcT1Bp8KYb8MLxvP8NjjBETpvKEDps4aXmMpNzEZE4J2F0AY36tykCAnPIEt2wQAAAAA=",
                  "fees": {
                    "bids": {
                      "min": 100,
                      "max": 1575600000,
                      "p10": 20001,
                      "p20": 21009,
                      "p30": 58796,
                      "p40": 93750,
                      "p50": 110322,
                      "p60": 935691,
                      "p70": 2250000,
                      "p80": 3466369,
                      "p90": 4863492,
                      "p95": 6000001,
                      "p99": 30753662
                    },
                    "charged": {
                      "min": 100,
                      "max": 126720,
                      "p10": 100,
                      "p20": 100,
                      "p30": 100,
                      "p40": 100,
                      "p50": 100,
                      "p60": 100,
                      "p70": 200,
                      "p80": 55131,
                      "p90": 55289,
                      "p95": 55291,
                      "p99": 71223
                    }
                  },
                  "capacity": 1000
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/lastn": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Fetch ledgers",
        "operationId": "fetchLastNLedgers",
        "description": "Returns the list of the specified number of last ledgers processed by the network.  Provides current information about the ledger, such as: current sequence and  protocol version, total number of successful/failed transactions and operations,  number of lumens and fee pool, bids and charged fee info.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "limit",
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Last ledger information loaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerMoreInfo"
                },
                "example": [
                  {
                    "sequence": 60958751,
                    "ts": 1769505236,
                    "protocol": 25,
                    "xlm": "1054439020873472865",
                    "fee_pool": "92187263371435",
                    "successful_transactions": 204,
                    "failed_transactions": 298,
                    "successful_operations": 462,
                    "failed_operations": 510,
                    "xdr": "AAAAGcwT8z3hoMyhzJdi4lLB1ZF6030TTObqxGUPea6iHao5eVlWZiZt43oHH3f2SszCwMaWJoVJ5ZPGkwsVQwUFNIAAAAAAaXiB1AAAAAAAAAABAAAAADF88fn7/Qdf5AnejN22xxQnBxZIgcsq0VC/dFJbol8/AAAAQK+YvVhV6BVuPWcgTjAH3o7OwnseGiY0MzgCIGV+rxRdKCG3NklU4eMhFbwFwTeZrLSQhqqJjf1EobZ0wODPPAlej+tFC7gTm17oYWvsdTAUeUaK5IRiH0FZ5wgJIAu+iT8kGZMPJcLBxoCHz39Zuge+2F4yfn2HF5+zgAVobri+A6IoHw6iHrPseVthAABT2AUWCKsAAAEWAAAAAGyH058AAABkAExLQAAAA+ifNxBv5EIKUOl2BK3wfTd5+1Zhf0b3JXqbSHn66DtrXLUCVzmrUBqRuDlUt+45AoFGViKmWG2MfntrnkckyzVXZYheIS09KsdGBAEsARoyu5/IcT1Bp8KYb8MLxvP8NjjBETpvKEDps4aXmMpNzEZE4J2F0AY36tykCAnPIEt2wQAAAAA=",
                    "fees": {
                      "bids": {
                        "min": 100,
                        "max": 1575600000,
                        "p10": 20001,
                        "p20": 21009,
                        "p30": 58796,
                        "p40": 93750,
                        "p50": 110322,
                        "p60": 935691,
                        "p70": 2250000,
                        "p80": 3466369,
                        "p90": 4863492,
                        "p95": 6000001,
                        "p99": 30753662
                      },
                      "charged": {
                        "min": 100,
                        "max": 126720,
                        "p10": 100,
                        "p20": 100,
                        "p30": 100,
                        "p40": 100,
                        "p50": 100,
                        "p60": 100,
                        "p70": 200,
                        "p80": 55131,
                        "p90": 55289,
                        "p95": 55291,
                        "p99": 71223
                      }
                    },
                    "capacity": 1000
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/{sequence}": {
      "get": {
        "tags": [
          "Ledger Info API"
        ],
        "summary": "Fetch ledger info",
        "operationId": "fetchLedger",
        "description": "Returns information about ledger processed by the network for a given sequence.  Provides current information about the ledger, such as: current sequence and  protocol version, total number of successful/failed transactions and operations,  number of lumens and fee pool, bids and charged fee info.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "sequence",
            "$ref": "#/components/parameters/sequence"
          }
        ],
        "responses": {
          "200": {
            "description": "Data encoded in XDR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerInfo"
                },
                "example": {
                  "sequence": 56309777,
                  "ts": 1742893862,
                  "protocol": 22,
                  "xlm": 1054439020873472900,
                  "fee_pool": 53697080648489,
                  "successful_transactions": 160,
                  "failed_transactions": 31,
                  "successful_operations": 523,
                  "xdr": "AAAAFv/Q19NdfIDZ4CQkKcqyL5lLY6opY1ZvmgQtH2Y2FmRdazT86r8iA+WoswCgjqQXDsplEFM+IEIopvIi8/ImOuQAAAAAZ+JzJgAAAAAAAAABAAAAAJF6qaV6rVYpKqq1XjVfHyYvW2GjLyQnfuwoC9gxe9N0AAAAQIAM3tgD8xuCabNm4vMx5ywyDpP8NaPGhiHJNdDzMAlnHqYUvA8EgavB+pHRYMpvjPIG2H0SQUlUSDSTFaPwSAwnpooCsiamM9+3SAmIc6Vl/j//iEDIHSu/07PsKtHZsYn5waf4q3iUoBbox4hBeIinkaX8y+OwojkyN0iljkV1A1s4EQ6iHrPseVthAAAw1lNq4ykAAAEWAAAAAGX1gCkAAABkAExLQAAAA+i0OaipyQAtcosHv8XKXmTs2LPbQCJXq0qQzmvxTIRQOgHeLsSqm7m7S2x0tKtwfGJa375Pg8pU0cG96wyVDWrRvVRij8DMXmfYvW97tPVLoIFqCQEkew87hQS1x4yu6PLk859s/cv+jmDapL9TAAD5O8EE/FeMSr9HvCDHtwyJDwAAAAA="
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/tx": {
      "get": {
        "tags": [
          "Tx API"
        ],
        "summary": "List of transactions",
        "operationId": "queryAllTransactions",
        "description": "Returns a list of transactions that exist on the Stellar network.  Provides general information such as: identifier and hash of transaction,  sequence number of the ledger and protocol version, encoded body,  meta and result of transaction, ledger timestamp in UNIX format.\n\nAvailable types for filtering the list:\n\nOperation type by group name\n\n`payments` - Group payments including operations: CreateAccount, AccountMerge,  Payment, PathPaymentStrictReceive, PathPaymentStrictSend, CreateClaimableBalance,  ClaimClaimableBalance, Clawback, ClawbackClaimableBalance, Inflation\n\n`trustlines` - Group trustlines including operations: ChangeTrust, AllowTrust,  SetTrustLineFlags\n\n`dex` - Group DEX trading including operations: ManageSellOffer, ManageBuyOffer,  CreatePassiveSellOffer, LiquidityPoolDeposit, LiquidityPoolWithdraw\n\n`settings` - Group account settings including operations: CreateAccount, SetOptions,  ChangeTrust, AllowTrust, AccountMerge, Inflation, ManageData, BumpSequence,  BeginSponsoringFutureReserves, EndSponsoringFutureReserves, RevokeSponsorship,  SetTrustLineFlags\n\n`soroban` - Group smart contracts including operations: InvokeHostFunction,  BumpFootprintExpiration, RestoreFootprint\n\nNumeric operation type code\n\n`0` - CreateAccount\n`1` - Payment\n`2` - PathPaymentStrictReceive\n`3` - ManageSellOffer\n`4` - CreatePassiveSellOffer\n`5` - SetOptions\n`6` - ChangeTrust\n`7` - AllowTrust\n`8` - AccountMerge\n`9` - Inflation\n`10` - ManageData\n`11` - BumpSequence\n`12` - ManageBuyOffer\n`13` - PathPaymentStrictSend\n`14` - CreateClaimableBalance\n`15` - ClaimClaimableBalance\n`16` - BeginSponsoringFutureReserves\n`17` - EndSponsoringFutureReserves\n`18` - RevokeSponsorship\n`19` - Clawback\n`20` - ClawbackClaimableBalance\n`21` - SetTrustLineFlags\n`22` - LiquidityPoolDeposit\n`23` - LiquidityPoolWithdraw\n`24` - InvokeHostFunction\n`25` - BumpFootprintExpiration\n`26` - RestoreFootprint",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "address",
            "$ref": "#/components/parameters/address-array",
            "example": [
              "GA2VRL65L3ZFEFDJ357RGI3MAOKPJZ2Z3IJTPSC24I4KDTNFSVEQURRA"
            ]
          },
          {
            "name": "source",
            "description": "Applies a filter by the operation source account list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/AccountAddress"
              }
            },
            "example": [
              "GBSL3NTDWH5G6E53STFQKO37ENKE2BOLHGSCHLGERE57IQ2D6NF3IQ2A"
            ]
          },
          {
            "name": "destination",
            "description": "Applies a filter by the operation destination account list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/AccountAddress"
              }
            },
            "example": [
              "GCEETSI6ZGG3CS37YUFAUKCCJSCOILXI43JOJVZ435KBJ5NICDYY4EMP"
            ]
          },
          {
            "name": "asset-array",
            "$ref": "#/components/parameters/asset-array"
          },
          {
            "name": "src_asset",
            "description": "Applies a filter by the operation source asset list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "example": [
              "XLM"
            ]
          },
          {
            "name": "dest_asset",
            "description": "Applies a filter by the operation destination asset list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "example": [
              "BTC-GDKIIIL2YPRSCSFAYT7FQCH4VXF34YNBIORTYCOKJK5CZ762LX2ND4L4"
            ]
          },
          {
            "name": "type",
            "description": "Applies a filter by the transaction type list.\n\nAvailable types:\n\nOperation type by group name\n\n`payments` - Group payments including operations: CreateAccount, AccountMerge, Payment, PathPaymentStrictReceive, PathPaymentStrictSend, CreateClaimableBalance, ClaimClaimableBalance, Clawback, ClawbackClaimableBalance, Inflation\n\n`trustlines` - Group trustlines including operations: ChangeTrust, AllowTrust, SetTrustLineFlags\n\n`dex` - Group DEX trading including operations: ManageSellOffer, ManageBuyOffer, CreatePassiveSellOffer, LiquidityPoolDeposit, LiquidityPoolWithdraw\n\n`settings` - Group account settings including operations: CreateAccount, SetOptions, ChangeTrust, AllowTrust, AccountMerge, Inflation, ManageData, BumpSequence, BeginSponsoringFutureReserves, EndSponsoringFutureReserves, RevokeSponsorship, SetTrustLineFlags\n\n`soroban` - Group smart contracts including operations: InvokeHostFunction, BumpFootprintExpiration, RestoreFootprint\n\nNumeric operation type code\n\n`0` - CreateAccount\n`1` - Payment\n`2` - PathPaymentStrictReceive\n`3` - ManageSellOffer\n`4` - CreatePassiveSellOffer\n`5` - SetOptions\n`6` - ChangeTrust\n`7` - AllowTrust\n`8` - AccountMerge\n`9` - Inflation\n`10` - ManageData\n`11` - BumpSequence\n`12` - ManageBuyOffer\n`13` - PathPaymentStrictSend\n`14` - CreateClaimableBalance\n`15` - ClaimClaimableBalance\n`16` - BeginSponsoringFutureReserves\n`17` - EndSponsoringFutureReserves\n`18` - RevokeSponsorship\n`19` - Clawback\n`20` - ClawbackClaimableBalance\n`21` - SetTrustLineFlags\n`22` - LiquidityPoolDeposit\n`23` - LiquidityPoolWithdraw\n`24` - InvokeHostFunction\n`25` - BumpFootprintExpiration\n`26` - RestoreFootprint",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 30,
              "uniqueItems": true,
              "items": {
                "$ref": "#/components/schemas/TypeOp"
              }
            }
          },
          {
            "name": "offer",
            "description": "Applies a filter by the DEX offer id list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "type": "number"
              }
            },
            "example": [
              1231233
            ]
          },
          {
            "name": "pool",
            "description": "Applies a filter by the liquidity pool id list (up to 50 per request)",
            "in": "query",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 50,
              "uniqueItems": true,
              "items": {
                "type": "string"
              }
            },
            "example": [
              "3e24a724de6983eea010b316e179e126b18352c1db04cd09edd66ea2eab7e5cf"
            ]
          },
          {
            "name": "memo",
            "description": "Applies a filter by memo of transaction",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "MEMO"
          },
          {
            "name": "from",
            "$ref": "#/components/parameters/from"
          },
          {
            "name": "to",
            "$ref": "#/components/parameters/to"
          },
          {
            "name": "order",
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "limit",
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "cursor",
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list fetch",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/TxListInfo"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/tx?sort=id&order=asc&limit=10"
                    },
                    "prev": {
                      "href": "/explorer/public/tx?sort=id&order=desc&limit=10&cursor=12884905984"
                    },
                    "next": {
                      "href": "/explorer/public/tx?sort=id&order=asc&limit=10&cursor=80607946215424"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "id": 12884905984,
                        "hash": "3389e9f0f1a65f19736cacf544c2e825313e8447f569233bb8db39aa607c8889",
                        "ledger": 3,
                        "ts": 1443633354,
                        "protocol": 1,
                        "body": "AAAAAAGUcmKO5465JxTSLQOQljwk2SfqAJmZSG6JH6wtqpwhAAABLAAAAAAAAAABAAAAAAAAAAEAAAALaGVsbG8gd29ybGQAAAAAAwAAAAAAAAAAAAAAABbxCy3mLg3hiTqX4VUEEp60pFOrJNxYM1JtxXTwXhY2AAAAAAvrwgAAAAAAAAAAAQAAAAAW8Qst5i4N4Yk6l+FVBBKetKRTqyTcWDNSbcV08F4WNgAAAAAN4Lazj4x61AAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABLaqcIQAAAEBKwqWy3TaOxoGnfm9eUjfTRBvPf34dvDA0Nf+B8z4zBob90UXtuCqmQqwMCyH+okOI3c05br3khkH0yP4kCwcE",
                        "meta": "AAAAAQAAAAAAAAADAAAAAwAAAAMAAAADAAAAAAAAAAABlHJijueOuScU0i0DkJY8JNkn6gCZmUhuiR+sLaqcIQ3gtrOnY/7UAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAEAAAADAAAAAAAAAAABlHJijueOuScU0i0DkJY8JNkn6gCZmUhuiR+sLaqcIQ3gtrObeDzUAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAW8Qst5i4N4Yk6l+FVBBKetKRTqyTcWDNSbcV08F4WNgAAAAAL68IAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAQAAAADAAAAAwAAAAAAAAAAFvELLeYuDeGJOpfhVQQSnrSkU6sk3FgzUm3FdPBeFjYAAAAAC+vCAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAAAAAAAFvELLeYuDeGJOpfhVQQSnrSkU6sk3FgzUm3FdPBeFjYN4Lazm3g81AAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAADAAAAAwAAAAAAAAAAAZRyYo7njrknFNItA5CWPCTZJ+oAmZlIbokfrC2qnCEN4Lazm3g81AAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAABAAAAAwAAAAAAAAAAAZRyYo7njrknFNItA5CWPCTZJ+oAmZlIbokfrC2qnCEAAAAAC+vCAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAACAAAAAwAAAAMAAAAAAAAAAAGUcmKO5465JxTSLQOQljwk2SfqAJmZSG6JH6wtqpwhAAAAAAvrwgAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAMAAAAAAAAAAAGUcmKO5465JxTSLQOQljwk2SfqAJmZSG6JH6wtqpwhAAAAAAvrwgAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
                        "result": "M4np8PGmXxlzbKz1RMLoJTE+hEf1aSM7uNs5qmB8iIkAAAAAAAABLAAAAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUAAAAAAAAAAA==",
                        "paging_token": 12884905984
                      },
                      {
                        "id": 33505039880192,
                        "hash": "941f4274fc85e4abe70eb694792eb7159721f377108e65d6a6cfb12a448bf11c",
                        "ledger": 7801,
                        "ts": 1443672701,
                        "protocol": 1,
                        "body": "AAAAABbxCy3mLg3hiTqX4VUEEp60pFOrJNxYM1JtxXTwXhY2AAABLAAAAAMAAAABAAAAAAAAAAEAAAATdGVzdHBvb2wsZmF1Y2V0LHNkZgAAAAADAAAAAAAAAAAAAAAAH6Ue1GOPj6Hb/ROPyIFCJpQPMujihEIvJSfK0UfMDIgAAAAAATEtAAAAAAAAAAAAAAAAALMw4P7yJTyqj6ptNh7BPyXEoT+zVwTcU4JVbGyonvgbAAAAAAExLQAAAAAAAAAAAAAAAABJlwu05Op/5x1uyrweYsyR6pTTos33hRNZe5IF6blnzwAAAAABMS0AAAAAAAAAAAHwXhY2AAAAQAs2/mrF+69XFQZbmmSSSL4oQ7+gsEB+WG2dZtmvaNrh2KUaxK6Ytyibe6LIkWhTIJidcTY02C0tUqE9VSWWlwA=",
                        "meta": "AAAAAQAAAAAAAAAA",
                        "result": "lB9CdPyF5KvnDraUeS63FZch83cQjmXWps+xKkSL8RwAAAAAAAABLP////8AAAADAAAAAAAAAAD////9AAAAAAAAAAD////9AAAAAAAAAAD////9AAAAAA==",
                        "paging_token": 33505039880192
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"source\". Invalid account address.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"destination\". Invalid account address.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"asset\". Invalid asset identifier.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"src_asset\". Invalid asset identifier.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"dest_asset\". Invalid asset identifier.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"type\". Invalid type filter.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"offer\". Negative offer id.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"poolId\". Invalid pool id.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"cursor\". Invalid paging cursor.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/tx/{id}": {
      "get": {
        "tags": [
          "Tx API"
        ],
        "summary": "Fetch transaction",
        "operationId": "fetchTx",
        "description": "Returns transaction that exist on the Stellar network for a given id or hash.  Provides general information such as: identifier and hash of transaction,  sequence number of the ledger and protocol version, encoded body, meta and  result of transaction, ledger timestamp in UNIX format.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "id",
            "description": "Id or hash of transaction",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": 241866191306493950
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxInfo"
                },
                "example": {
                  "id": "241866191306493952",
                  "hash": "c44e5d29d4bd642e768cb1946a1e4fc961ec7cee94dd74f1b7e59858698736ca",
                  "ledger": 56313861,
                  "ts": 1742917330,
                  "protocol": 22,
                  "body": "AAAAAgAAAAAplmIJufaZ/2lQlliBv3Hk49koPEn0Omkq31sedGyCKQAD0JUDCI2QAACeowAAAAEAAAAAAAAAAAAAAABn4s7uAAAAAAAAAAEAAAABAAAAAHKXoV79Q3JET/JpfTa/ZuFj8jHcujeisRhgd8YMNKzYAAAAAwAAAAFlWkFSAAAAAJ+jYEVexdkKQir2JFC92pMNVUw3tnm90umf2BvU+2kIAAAAAAAGJ3wfpdaEAAAIv02XCzkAAAAAZdIyAQAAAAAAAAACDDSs2AAAAEBO/PqepP4Bb5V1ZWt9ORgOyO5FQhdCWKoDmbi1plO0kcBk1BH2R61LjBKPER6y4a6X4qAHNaPQyxlwyKCT/yUAdGyCKQAAAECNKMlhRd/NWOMOtIRnSnRxlB4pt0l/jWeZxr9oV8/i2EkOU6WSQo9Og9NMBtzcvDqdsMRC3zrS7sX2616R38gK",
                  "meta": "AAAAAwAAAAAAAAACAAAAAwNbSAUAAAAAAAAAACmWYgm59pn/aVCWWIG/ceTj2Sg8SfQ6aSrfWx50bIIpAAAAAAGr140DCI2QAACeogAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAMAAAAAA1tHhgAAAABn4swAAAAAAAAAAAEDW0gFAAAAAAAAAAAplmIJufaZ/2lQlliBv3Hk49koPEn0Omkq31sedGyCKQAAAAABq9eNAwiNkAAAnqMAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAADAAAAAANbSAUAAAAAZ+LO0gAAAAAAAAABAAAABgAAAAMDW0gEAAAAAgAAAAByl6Fe/UNyRE/yaX02v2bhY/Ix3Lo3orEYYHfGDDSs2AAAAABl0jIBAAAAAWVaQVIAAAAAn6NgRV7F2QpCKvYkUL3akw1VTDe2eb3S6Z/YG9T7aQgAAAAAAAYnfB+jkGQAAApyXKoZSAAAAAAAAAAAAAAAAAAAAAEDW0gFAAAAAgAAAAByl6Fe/UNyRE/yaX02v2bhY/Ix3Lo3orEYYHfGDDSs2AAAAABl0jIBAAAAAWVaQVIAAAAAn6NgRV7F2QpCKvYkUL3akw1VTDe2eb3S6Z/YG9T7aQgAAAAAAAYnfB+dL6AAAAi/TZcLOQAAAAAAAAAAAAAAAAAAAAMDW0gEAAAAAAAAAAByl6Fe/UNyRE/yaX02v2bhY/Ix3Lo3orEYYHfGDDSs2AAAAA6ZYsQ/Awf8EgAAAvoAAAIoAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAABAAAAqXmS+vEAAAAHslTsxwAAAAIAAAAAAAAAAAAAAAAAAAADAAAAAANa/UgAAAAAZ+EgfQAAAAAAAAABA1tIBQAAAAAAAAAAcpehXv1DckRP8ml9Nr9m4WPyMdy6N6KxGGB3xgw0rNgAAAAOmWLEPwMH/BIAAAL6AAACKAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAQAAAKl5kvrqAAAAB7JU7McAAAACAAAAAAAAAAAAAAAAAAAAAwAAAAADWv1IAAAAAGfhIH0AAAAAAAAAAwNbSAQAAAABAAAAAHKXoV79Q3JET/JpfTa/ZuFj8jHcujeisRhgd8YMNKzYAAAAAWVaQVIAAAAAn6NgRV7F2QpCKvYkUL3akw1VTDe2eb3S6Z/YG9T7aQgABid8H6XWhH//////////AAAAAQAAAAEAAAAAAAAAAAAGJ3wfo5BkAAAAAAAAAAAAAAABA1tIBQAAAAEAAAAAcpehXv1DckRP8ml9Nr9m4WPyMdy6N6KxGGB3xgw0rNgAAAABZVpBUgAAAACfo2BFXsXZCkIq9iRQvdqTDVVMN7Z5vdLpn9gb1PtpCAAGJ3wfpdaEf/////////8AAAABAAAAAQAAAAAAAAAAAAYnfB+dL6AAAAAAAAAAAAAAAAAAAAAA",
                  "result": "xE5dKdS9ZC52jLGUah5PyWHsfO6U3XTxt+WYWGmHNsoAAAAAAAAAZAAAAAAAAAABAAAAAAAAAAMAAAAAAAAAAAAAAAEAAAAAcpehXv1DckRP8ml9Nr9m4WPyMdy6N6KxGGB3xgw0rNgAAAAAZdIyAQAAAAFlWkFSAAAAAJ+jYEVexdkKQir2JFC92pMNVUw3tnm90umf2BvU+2kIAAAAAAAGJ3wfnS+gAAAIv02XCzkAAAAAAAAAAAAAAAA="
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Transaction not found on the public ledger.",
                    "status": 404
                  },
                  {
                    "error": "Not found. Transaction not found on the testnet ledger.",
                    "status": 404
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/ledger/{sequence}/tx": {
      "get": {
        "tags": [
          "Tx API"
        ],
        "summary": "Fetch ledger transactions",
        "operationId": "fetchLedgerTransactions",
        "description": "Returns a list of transactions that exist on the Stellar network  for a given ledger sequence. Provides general information such as:  identifier and hash of transaction, sequence number of the ledger  and protocol version, encoded body, meta and result of transaction,  ledger timestamp in UNIX format.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "sequence",
            "$ref": "#/components/parameters/sequence"
          }
        ],
        "responses": {
          "200": {
            "description": "All transactions for a given ledger sequence",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TxInfo"
                  }
                },
                "example": [
                  {
                    "id": 241848650660057100,
                    "hash": "01ad7ba81fd94566bc5ceddd3c98cee8f7429a0f1fec85320d41273fd57db522,",
                    "ledger": "56309777,",
                    "ts": "1742893862,",
                    "protocol": "22,",
                    "body": "AAAAAgAAAADzrdicBkHrXNGUWQufqW0a5mPbr1WCQ+qddQYMdBfdxQAEHrADJqe2ACl2lwAAAAEAAAAAAAAAAAAAAABn4nNBAAAAAAAAAAEAAAABAAAAAIGcE2QPeVU/dIBvs/91g7ckWnlsftTBSS5z66wDsDgtAAAADAAAAAAAAAABVkVMTwAAAADZyMKQhSslQB+XiM/cOX7KIx+Q+JfpgDD4dBInpIgizQAAABSYW0UjAJiWgAz3rrQAAAAAZfQVOQAAAAAAAAACdBfdxQAAAEA3p8wjSxK8Whq6Pcvwhd8Uez1GrqXdc78NbG+IKQ568FlqX7Zf6gvtVv2ZljPVMZiyetj9jRkMOJsyRUpbAkkCA7A4LQAAAEAdcPq9gbY4mTeSKh/jQxratdkfbTQrIGIPtilCKWs5bVM20LZutJHvEzAYrXhORr0q0MFgT7cWQpm/++plKn0K",
                    "meta": "AAAAAwAAAAAAAAACAAAAAwNbOBEAAAAAAAAAAPOt2JwGQetc0ZRZC5+pbRrmY9uvVYJD6p11Bgx0F93FAAAAAANfc8UDJqe2ACl2lgAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAMAAAAAA1s4EAAAAABn4nMgAAAAAAAAAAEDWzgRAAAAAAAAAADzrdicBkHrXNGUWQufqW0a5mPbr1WCQ+qddQYMdBfdxQAAAAADX3PFAyantgApdpcAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAADAAAAAANbOBEAAAAAZ+JzJgAAAAAAAAABAAAABgAAAAMDWzgQAAAAAgAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAABl9BU5AAAAAAAAAAFWRUxPAAAAANnIwpCFKyVAH5eIz9w5fsojH5D4l+mAMPh0EiekiCLNAAAAAPWMOsEM9653AJiWgAAAAAAAAAAAAAAAAAAAAAEDWzgRAAAAAgAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAABl9BU5AAAAAAAAAAFWRUxPAAAAANnIwpCFKyVAH5eIz9w5fsojH5D4l+mAMPh0EiekiCLNAAAAAPJXfxkM9660AJiWgAAAAAAAAAAAAAAAAAAAAAMDWzgQAAAAAQAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAAFWRUxPAAAAANnIwpCFKyVAH5eIz9w5fsojH5D4l+mAMPh0EiekiCLNAAADOL/qXlN//////////wAAAAEAAAABAAAAVhAMj9EAAALSH4gvIgAAAAAAAAAAAAAAAQNbOBEAAAABAAAAAIGcE2QPeVU/dIBvs/91g7ckWnlsftTBSS5z66wDsDgtAAAAAVZFTE8AAAAA2cjCkIUrJUAfl4jP3Dl+yiMfkPiX6YAw+HQSJ6SIIs0AAAM4v+peU3//////////AAAAAQAAAAEAAABVyk0u9QAAAtIfiC8iAAAAAAAAAAAAAAADA1s4EAAAAAAAAAAAgZwTZA95VT90gG+z/3WDtyRaeWx+1MFJLnPrrAOwOC0AAAAEEr5ptAMm6qAAAABXAAAABwAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAQAAACdlTH+vAAAAA/SxzvgAAAACAAAAAAAAAAAAAAAAAAAAAwAAAAADWi4KAAAAAGfcfK8AAAAAAAAAAQNbOBEAAAAAAAAAAIGcE2QPeVU/dIBvs/91g7ckWnlsftTBSS5z66wDsDgtAAAABBK+abQDJuqgAAAAVwAAAAcAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAEAAAAnZUx/rwAAAAPxfRNQAAAAAgAAAAAAAAAAAAAAAAAAAAMAAAAAA1ouCgAAAABn3HyvAAAAAAAAAAAAAAAA",
                    "result": "Aa17qB/ZRWa8XO3dPJjO6PdCmg8f7IUyDUEnP9V9tSIAAAAAAAAAZAAAAAAAAAABAAAAAAAAAAwAAAAAAAAAAAAAAAEAAAAAgZwTZA95VT90gG+z/3WDtyRaeWx+1MFJLnPrrAOwOC0AAAAAZfQVOQAAAAAAAAABVkVMTwAAAADZyMKQhSslQB+XiM/cOX7KIx+Q+JfpgDD4dBInpIgizQAAAADyV38ZDPeutACYloAAAAAAAAAAAAAAAAA="
                  },
                  {
                    "id": 241848650660061200,
                    "hash": "1d0c355c63ae39ac17fb2bb8a24bef92023b51cddcfc07956c22520f9bb21a96",
                    "ledger": 56309777,
                    "ts": 1742893862,
                    "protocol": 22,
                    "body": "AAAAAgAAAACztSZzEKhNNJLnteFDXFl9ZySydtuiryoRNvFgYhnLWgAEHrADJqfNACdr+QAAAAEAAAAAAAAAAAAAAABn4nNBAAAAAAAAAAEAAAABAAAAAIGcE2QPeVU/dIBvs/91g7ckWnlsftTBSS5z66wDsDgtAAAAAwAAAAFWRUxPAAAAANnIwpCFKyVAH5eIz9w5fsojH5D4l+mAMPh0EiekiCLNAAAAAAAAAQA7iEQzAJiWgAsS7zkAAAAAZfQUgAAAAAAAAAACYhnLWgAAAEAR6FZsK/phHAJP5Ezdbs7Fo2ESL0vuCjVsD8XeEYSaIGH9i18oLE9+wmDBL9U+ELkEwUaEvjHieYG7iZ4Rl4gJA7A4LQAAAECvb2HRg7+GeIuCps+dw8wB45boF93eTBl6EjYTOqaNdumEnDBAa3J/8gJbTgfu5Hhe28GwtyCBWxQtDnEYalIG",
                    "meta": "AAAAAwAAAAAAAAACAAAAAwNbOBEAAAAAAAAAALO1JnMQqE00kue14UNcWX1nJLJ226KvKhE28WBiGctaAAAAAAR/ZxsDJqfNACdr+AAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAMAAAAAA1s4EAAAAABn4nMgAAAAAAAAAAEDWzgRAAAAAAAAAACztSZzEKhNNJLnteFDXFl9ZySydtuiryoRNvFgYhnLWgAAAAAEf2cbAyanzQAna/kAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAADAAAAAANbOBEAAAAAZ+JzJgAAAAAAAAABAAAABgAAAAMDWzgQAAAAAgAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAABl9BSAAAAAAVZFTE8AAAAA2cjCkIUrJUAfl4jP3Dl+yiMfkPiX6YAw+HQSJ6SIIs0AAAAAAAABAtYe+vUAmJaACy7QvAAAAAAAAAAAAAAAAAAAAAEDWzgRAAAAAgAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAABl9BSAAAAAAVZFTE8AAAAA2cjCkIUrJUAfl4jP3Dl+yiMfkPiX6YAw+HQSJ6SIIs0AAAAAAAABADuIRCwAmJaACxLvOQAAAAAAAAAAAAAAAAAAAAMDWzgRAAAAAAAAAACBnBNkD3lVP3SAb7P/dYO3JFp5bH7UwUkuc+usA7A4LQAAAAQSvmm0AybqoAAAAFcAAAAHAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAABAAAAJ2VMf68AAAAD8X0TUAAAAAIAAAAAAAAAAAAAAAAAAAADAAAAAANaLgoAAAAAZ9x8rwAAAAAAAAABA1s4EQAAAAAAAAAAgZwTZA95VT90gG+z/3WDtyRaeWx+1MFJLnPrrAOwOC0AAAAEEr5ptAMm6qAAAABXAAAABwAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAQAAACdkJ4OTAAAAA/F9E1AAAAACAAAAAAAAAAAAAAAAAAAAAwAAAAADWi4KAAAAAGfcfK8AAAAAAAAAAwNbOBEAAAABAAAAAIGcE2QPeVU/dIBvs/91g7ckWnlsftTBSS5z66wDsDgtAAAAAVZFTE8AAAAA2cjCkIUrJUAfl4jP3Dl+yiMfkPiX6YAw+HQSJ6SIIs0AAAM4v+peU3//////////AAAAAQAAAAEAAABVyk0u9QAAAtIfiC8iAAAAAAAAAAAAAAABA1s4EQAAAAEAAAAAgZwTZA95VT90gG+z/3WDtyRaeWx+1MFJLnPrrAOwOC0AAAABVkVMTwAAAADZyMKQhSslQB+XiM/cOX7KIx+Q+JfpgDD4dBInpIgizQAAAzi/6l5Tf/////////8AAAABAAAAAQAAAFXKTS71AAACz4TxeFkAAAAAAAAAAAAAAAAAAAAA",
                    "result": "HQw1XGOuOawX+yu4okvvkgI7Uc3c/AeVbCJSD5uyGpYAAAAAAAAAZAAAAAAAAAABAAAAAAAAAAMAAAAAAAAAAAAAAAEAAAAAgZwTZA95VT90gG+z/3WDtyRaeWx+1MFJLnPrrAOwOC0AAAAAZfQUgAAAAAFWRUxPAAAAANnIwpCFKyVAH5eIz9w5fsojH5D4l+mAMPh0EiekiCLNAAAAAAAAAQA7iEQsAJiWgAsS7zkAAAAAAAAAAAAAAAA="
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/explorer/{network}/account/{account}": {
      "get": {
        "operationId": "queryAccountStats",
        "summary": "Fetch account info",
        "description": "Returns information about the given account.  Provides fields such as: creator's account and creation date,  list of trustlines established assets, monthly and yearly activity,  total number of trades and payments.",
        "cost": 10,
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          }
        ],
        "responses": {
          "200": {
            "description": "Account information loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountInfo"
                  }
                },
                "example": [
                  {
                    "account": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                    "creator": "GBU4DDQXESGMBUDOLKZJJ56TYKAW5JYU3IG5NS7TBOYI34ZIHM5CXDMF",
                    "activity": {
                      "monthly": "very high",
                      "yearly": "very high"
                    },
                    "assets": [
                      "XLM",
                      "RLUSD-GCC5UHLP734WF2YH55T46WIQX76QN45SAB4SXS7EA76LJL2CWK7RLUSD-2",
                      "FOBOS-GAMP3CO26RFCHLPLFL7MSJKP2KXW3DDD4V4WXIZXFL3TM4RGO64IT5CV-2"
                    ],
                    "payments": 44715,
                    "trades": 1721,
                    "created": 1710889335
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/account/{account}/stats-history": {
      "get": {
        "operationId": "queryAccountStatsHistory",
        "summary": "Fetch historical account stats",
        "description": "Returns statistics history of total number of payments  and trades at the timestamp for given account.",
        "cost": 10,
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          }
        ],
        "responses": {
          "200": {
            "description": "Account statistics history loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "payments": {
                        "description": "Total number of payments",
                        "type": "number"
                      },
                      "trades": {
                        "description": "Total number of trades",
                        "type": "number"
                      },
                      "ts": {
                        "$ref": "#/components/schemas/Timestamp"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "payments": 21,
                    "trades": 2,
                    "ts": 1711670400
                  },
                  {
                    "payments": 23,
                    "trades": 0,
                    "ts": 1711756800
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/account/{account}/history/trades": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account trades history",
        "operationId": "queryAccountTrades",
        "description": "Returns the trades history for a given account.  The results of the records provide basic information about trading operations.\n\nThis API endpoint follows Stellar Horizon API response format convention.  A response result contains records and navigation links.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          },
          {
            "name": "order",
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "limit",
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "cursor",
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Trades history fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AccountTrade"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=desc&limit=2"
                    },
                    "prev": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=asc&limit=2&cursor=7489424762284802074"
                    },
                    "next": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/history/trades?skip=0&order=desc&limit=2&cursor=7489418629071503453"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "bought_amount": 48888888839027,
                        "bought_asset": "YUAN-GBLLOQ2J7HUZAXLFRF4E57D43KBBDY667L27YVQQP2XEJWFM3UVRV5YF-1",
                        "buyer": "GD6HB37PBWRPMXWMM4ROJAOYHADELGWDQHB6KV7GYPPP5RB7IU7DFCMB",
                        "id": 7489424762284802000,
                        "offer": 1709701770,
                        "operation": 242501812106801150,
                        "price": 223215.01338136618,
                        "seller": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                        "sold_amount": 219021508,
                        "sold_asset": "XLM",
                        "ts": 1743767588,
                        "paging_token": 7489424762284802000
                      },
                      {
                        "bought_amount": 373,
                        "bought_asset": "TREAD-GANMKTF7SVYEHZ4CTLRKT2MG2OUJNDEA3JGZGTUTHQZOZSWJHHUF6VLM-2",
                        "buyer": "GCU7LJ5S6U3YCTSLLZNMRHJBSXVI6O5WPQIJ2ESLYTYIUJ7WMSXNYERD",
                        "id": 7489418629071503000,
                        "offer": 1705852714,
                        "operation": 242500746955546620,
                        "price": 0.05547293277810827,
                        "seller": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                        "sold_amount": 6724,
                        "sold_asset": "XLM",
                        "ts": 1743766160,
                        "paging_token": 7489418629071503000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/account/{account}/balance/{asset}/history": {
      "get": {
        "operationId": "queryAddressBalanceHistory",
        "summary": "Fetch account balance history",
        "description": "Fetch balance history of a passed asset for given account address.  By default, the difference between the timestamps of the results is one day.",
        "cost": 10,
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          },
          {
            "name": "asset",
            "$ref": "#/components/parameters/asset"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset balance history loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "example": [
                  [
                    1743724800,
                    "78874669664"
                  ],
                  [
                    1743638400,
                    "81982434906"
                  ],
                  [
                    1743552000,
                    "75525167674"
                  ]
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"asset\". Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/account/{account}/claimable-balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Fetch account claimable balances",
        "operationId": "queryAccountClaimableBalances",
        "description": "Fetch claimable balance of all tokens that have been transferred to the account address.\n\nThis API endpoint follows Stellar Horizon API response format convention.  A response result contains records and navigation links.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          },
          {
            "name": "order",
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "limit",
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "cursor",
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Account claimable balance fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AccountClaimableBalance"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=desc&limit=2"
                    },
                    "prev": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=asc&limit=2&cursor=7489170213444885654"
                    },
                    "next": {
                      "href": "/explorer/public/account/GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU/claimable-balances?order=desc&limit=2&cursor=7488495007869549959"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "amount": 80000000,
                        "asset": "BGI-GA4FVJQFHQV5PAYYEYXML7G5JFWAA6TOQS5FH7ADS4Q2QEHKEEA3PCKX-1",
                        "claimants": [
                          {
                            "destination": "GDPQNABQDNYXQOFOUVH3XHNC7QTAXJPVU5Q47PSARLEEUWGIJKSP7BZU",
                            "predicate": {
                              "unconditional": true
                            }
                          }
                        ],
                        "id": "OtGclgYIx8cgq9LlSE8NxeYZBnVMK1D/KOoOhp/bhf0=",
                        "sponsor": "GBEC3N4Q4BHLN32HLVLFX3CVKIFDKGDJWR3HAFA7TKG36WXP3HVD5BGI",
                        "value": 341,
                        "created": 1743708321,
                        "paging_token": 7489170213444886000
                      },
                      {
                        "amount": 783100,
                        "asset": "XRPBTC-GB2UFQH3HTB7TDRSF6BBO7JZ732F27WMBXDVPM73CCCDNCSB5SO7RIPL-2",
                        "claimants": [
                          {
                            "destination": "GAER53BMAJXS5PSVS4SUWDJ3TRNJ7COUXRYB72HAZQRNRAJK7SXYHHVH",
                            "predicate": {
                              "unconditional": true
                            }
                          }
                        ],
                        "id": "rlm9hwi7vrLhjxJjOKH4hdU8TwYaWfR7rBmr8Je2nJY=",
                        "sponsor": "GAER53BMAJXS5PSVS4SUWDJ3TRNJ7COUXRYB72HAZQRNRAJK7SXYHHVH",
                        "created": 1743551112,
                        "paging_token": 7488495007869550000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/account/{account}/value": {
      "get": {
        "operationId": "estimateAddressValue",
        "summary": "Estimate address total value",
        "description": "Returns the total value of assets and pool shares for a given account in a specified currency.  Shows balances for each asset and pool (including L-address).",
        "cost": 10,
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "account",
            "$ref": "#/components/parameters/account"
          },
          {
            "name": "ts",
            "$ref": "#/components/parameters/ts"
          }
        ],
        "responses": {
          "200": {
            "description": "Account value loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "$ref": "#/components/schemas/AccountAddress"
                    },
                    "balances": {
                      "description": "Asset and pool balances to an account",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalancesValue"
                      }
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency for calculating value"
                    },
                    "total": {
                      "type": "string",
                      "description": "Total value of all balances"
                    }
                  }
                },
                "example": {
                  "address": "GAB6FD5BCBVVQINU5USYV5K4JDAEO6RDL2GZU4K5BILPI6B4FIOF6QWW",
                  "balances": [
                    {
                      "asset": "XLM",
                      "balance": 93402431,
                      "value": 26850644,
                      "updated": 1766300038,
                      "flags": 1
                    }
                  ],
                  "total": 26850644,
                  "currency": "USD"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"account\". Invalid account public key.",
                    "status": 400
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Not found. Account was not found on the ledger. Check if you specified account address correctly.",
                    "status": 404
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "List of assets",
        "operationId": "queryAllAssets",
        "description": "Returns a list of assets that exist on Stellar network. It support searching by asset code, issuer, home domain, and metadata from associated `stellar.toml` file.\n\nPossible sorting options:\n\n- `rating` - composite asset rating derived from on-chain stats\n- `created` - asset age\n- `payments` - total number of payments\n- `trades` - total number of trades\n- `trustlines` - number of established trustlines\n- `volume` - overall trading volume\n- `volume7d` - weekly trading volume",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "search",
            "description": "Arbitrary search term (asset code, issuer, associated home domain, or information from asset TOML metadata)",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "example": "dollar"
          },
          {
            "name": "sort",
            "description": "Results sorting parameter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "rating",
                "created",
                "payments",
                "trades",
                "trustlines",
                "volume",
                "volume7d"
              ],
              "default": "rating"
            },
            "required": false
          },
          {
            "name": "order",
            "$ref": "#/components/parameters/order"
          },
          {
            "name": "limit",
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "cursor",
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset list fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AssetInfo"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/asset?order=desc&limit=2"
                    },
                    "prev": {
                      "href": "/explorer/public/asset?order=asc&limit=2&cursor=1"
                    },
                    "next": {
                      "href": "/explorer/public/asset?order=desc&limit=2&cursor=2"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "asset": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                        "traded_amount": 102588436626011460,
                        "payments_amount": 12492248403205108,
                        "price": 0.220157,
                        "created": 1615892870,
                        "price7d": [
                          [
                            1768780800,
                            0.216296
                          ],
                          [
                            1768867200,
                            0.207027
                          ],
                          [
                            1768953600,
                            0.212334
                          ],
                          [
                            1769040000,
                            0.211287
                          ],
                          [
                            1769126400,
                            0.211849
                          ],
                          [
                            1769212800,
                            0.211624
                          ],
                          [
                            1769299200,
                            0.203249
                          ],
                          [
                            1769385600,
                            0.20707
                          ]
                        ],
                        "volume7d": 10628799326480,
                        "supply": 1669015135707318,
                        "trustlines": [
                          32266,
                          32266,
                          19335
                        ],
                        "trades": 13363178,
                        "payments": 13405766,
                        "domain": "ultrastellar.com",
                        "tomlInfo": {
                          "orgName": "Ultra Stellar LLC dba Ultra Stellar",
                          "orgLogo": "https://ultrastellar.com/static/images/org_logo.png",
                          "image": "https://ultrastellar.com/static/images/icons/yXLM.png",
                          "status": "live",
                          "anchorAssetType": "crypto",
                          "anchorAsset": "XLM"
                        },
                        "rating": {
                          "age": 7,
                          "activity": 10,
                          "trustlines": 7,
                          "volume7d": 10,
                          "interop": 10,
                          "liquidity": 10,
                          "average": 9
                        },
                        "score": 9.790164241473962,
                        "paging_token": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset-stats/overall": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "Assets overall statistics",
        "operationId": "queryAssetsOverallStats",
        "description": "Returns general statistics for all existing assets on Stellar network.  Including total number of assets that exist on the ledger and total  number of all on-chain trades with overall DEX volume for last 24 hours.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          }
        ],
        "responses": {
          "200": {
            "description": "Assets overall statistics fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_assets": {
                      "description": "Total amount of existing assets",
                      "type": "number",
                      "example": 188547
                    },
                    "trades": {
                      "description": "Number of trades for last 24H",
                      "type": "string",
                      "example": 4767944173
                    },
                    "volume": {
                      "description": "Total value for last 24H",
                      "type": "number",
                      "example": 280466938707819740
                    }
                  }
                },
                "example": {
                  "total_assets": 204459,
                  "trades": 4910333733,
                  "volume": 297254233186919900
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset/meta": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "Assets metadata",
        "operationId": "queryAssetsMeta",
        "description": "Returns metadata from the associated `stellar.toml` file, the name and domain, if any.  Can handle up to 50 unique assets in one call.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "asset-array",
            "$ref": "#/components/parameters/asset-array"
          }
        ],
        "responses": {
          "200": {
            "description": "Assets meta fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/AssetMeta"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/meta?asset[]=yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1&asset[]=USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1&sort=name&order=asc"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "asset": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                        "domain": "ultrastellar.com",
                        "name": "yXLM-GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55-1",
                        "toml_info": {
                          "orgName": "Ultra Stellar LLC dba Ultra Stellar",
                          "orgLogo": "https://ultrastellar.com/static/images/org_logo.png",
                          "image": "https://ultrastellar.com/static/images/icons/yXLM.png",
                          "issuer": "GARDNV3Q7YGT4AKSDF25LT32YSCCW4EV22Y2TV3I2PU2MMXJTEDL5T55",
                          "status": "live",
                          "anchorAssetType": "crypto",
                          "anchorAsset": "XLM"
                        }
                      },
                      {
                        "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                        "domain": "centre.io",
                        "name": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                        "toml_info": {
                          "orgName": "Centre Consortium LLC dba Centre Consortium",
                          "orgLogo": "https://www.centre.io/images/logo-icon.png",
                          "name": "USD Coin",
                          "image": "https://www.centre.io/images/usdc/usdc-icon-86074d9d49.png",
                          "anchorAssetType": "fiat",
                          "anchorAsset": "USD"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid asset name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset/price": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "Assets metadata",
        "operationId": "queryAssetPrices",
        "description": "Returns price for all existing assets on Stellar network.  Can handle up to 200 unique assets in one call.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "asset-array",
            "maxItems": 200,
            "$ref": "#/components/parameters/asset-array"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset prices fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "records": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "asset": {
                                    "$ref": "#/components/schemas/Asset"
                                  },
                                  "price": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "/explorer/public/asset/price?asset[]=USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1&asset[]=XLM&sort=asset&order=asc"
                    }
                  },
                  "_embedded": {
                    "records": [
                      {
                        "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                        "price": 1.000009797257811
                      },
                      {
                        "asset": "XLM",
                        "price": 0.20933
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"asset\". Expected an array of assets to fetch.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid asset name.",
                    "status": 400
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset/{asset}": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "Asset statistics",
        "operationId": "queryAssetStats",
        "description": "Returns overall statistics for a given asset in the format  {CODE}-{ISSUER} (or \"XLM\" for Stellar lumens).  Provides information about soroban contract address,  current price with dynamics over 7 days, total number of trades/payments,  overall trades/payments volume, total supply, trustlines established to an asset,  rating and metadata from associated `stellar.toml` file.  For XLM, show additional total reserve and pool fee. The asset rating includes the average value and separate values  by `age`, `activity`, `trustlines`, `volume7d`, `interop` and `liquidity`.",
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "asset",
            "$ref": "#/components/parameters/asset"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset statistics fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetStat"
                },
                "example": {
                  "asset": "USDC-GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN-1",
                  "created": 1611161688,
                  "volume": null,
                  "volume7d": 748597824699920,
                  "price7d": [
                    [
                      1742774400,
                      0.9999556923344947
                    ],
                    [
                      1742860800,
                      1.0000723416666668
                    ],
                    [
                      1742947200,
                      1.0000137059027778
                    ],
                    [
                      1743033600,
                      1.0000945631944445
                    ],
                    [
                      1743120000,
                      1.0000377180555555
                    ],
                    [
                      1743206400,
                      1.0001392319444444
                    ],
                    [
                      1743292800,
                      1.000077707986111
                    ],
                    [
                      1743379200,
                      1.0000432092105263
                    ]
                  ],
                  "price": 1.0000698419073348,
                  "supply": 2761733155982229,
                  "trades": 134688560,
                  "traded_amount": 90739226813498820,
                  "payments": 83680244,
                  "payments_amount": 403594017505777000,
                  "trustlines": {
                    "total": 2056117,
                    "authorized": 2056117,
                    "funded": 573374
                  },
                  "toml_info": {
                    "code": "USDC",
                    "issuer": "GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN",
                    "image": "https://stellar.myfilebase.com/ipfs/QmXPqPAv3oRiQFehNB8Lw25DLuDz8irZwpfU7e6hPsr2qS",
                    "anchorAssetType": "fiat",
                    "anchorAsset": "USD",
                    "orgName": "Circle Internet Financial, LLC",
                    "orgLogo": "https://stellar.myfilebase.com/ipfs/QmPPNDF17zvD3paXGawxQswUydE1Q6wsxeYqY2RaJbDSXu"
                  },
                  "home_domain": "circle.com",
                  "rating": {
                    "age": 7,
                    "activity": 10,
                    "trustlines": 8,
                    "volume7d": 10,
                    "interop": 4,
                    "liquidity": 10,
                    "average": 8.1
                  },
                  "contract": "CCW67TSZV3SSS2HXMBQ5JFGCKJNXKZM7UQUWUZPUTHXSTZLEO7SJMI75",
                  "decimals": 7
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": [
                  {
                    "error": "Bad request. Invalid parameter: \"network\". Unknown network name.",
                    "status": 400
                  },
                  {
                    "error": "Bad request. Invalid parameter: \"asset\". Invalid asset descriptor. Use {code}-{issuer}-{type} format or contract address.",
                    "status": 400
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/explorer/{network}/asset/{asset}/stats-history": {
      "get": {
        "tags": [
          "Asset Info API"
        ],
        "summary": "Asset statistics history",
        "operationId": "queryAssetStatsHistory",
        "description": "Returns the history of statistical data for a given asset in the format {CODE}-{ISSUER}  (or \"XLM\" for Stellar lumens). Provides the total number and amount of payments and trades,  total issued asset supply and volume, established trustlines and prices in  [OPEN, HIGH, LOW, CLOSE] format with a timestamp.  For XLM, show additional total reserve and pool fee with a timestamp.",
        "cost": 10,
        "parameters": [
          {
            "name": "network",
            "$ref": "#/components/parameters/network"
          },
          {
            "name": "asset",
            "$ref": "#/components/parameters/asset"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset statistics history fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "payments": {
                        "description": "Total number of payments",
                        "type": "number"
                      },
                      "payments_amount": {
                        "description": "Total payments amount (in stroops)",
                        "type": "number"
                      },
                      "supply": {
                        "description": "Total issued asset supply",
                        "type": "number"
                      },
                      "trustlines": {
                        "description": "Trustlines established to an asset",
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "ts": {
                        "description": "Validation timestamp",
                        "$ref": "#/components/schemas/Timestamp"
                      },
                      "trades": {
                        "description": "Total number of trades",
                        "type": "number"
                      },
                      "traded_amount": {
                        "description": "Total trades amount",
                        "type": "number"
                      },
                      "price": {
[...]
